<%= form_for :manager_profile, url: manager_profile_path(@manager_profile), method: :patch do |f| %>
    <h2>Edit Team Details</h2>
    <div class="field">
        <%= f.label :teamName, 'Team Name' %><br />
        <%= f.text_field :teamName, class: "form-control" %>
    </div>

    <div class="field">
        <%= f.label :description, 'Team Bio' %><br />
        <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="field">
        <%= f.label :managerFName, 'Manager\'s First Name' %><br />
        <%= f.text_field :managerFName, class: "form-control" %>
    </div>

    <div class="field">
        <%= f.label :managerLName, 'Manager\'s Surname' %><br />
        <%= f.text_field :managerLName, class: "form-control" %>
    </div>

    <div class="field">
        <%= f.label :sponsorsAndPartners, 'Sponsors and Partners' %><br />
        <%= f.text_area :sponsorsAndPartners, class: "form-control" %>
    </div>

    <div class="field">
        <%= f.label :country_id, 'Founding Country'%><br />
        <% options = options_from_collection_for_select(Country.all, 'id', 'name') %>
        <%= f.select :country_id,  options %>
    </div>

    <div class="field">
        <%= f.label :twitterHandle, 'Twitter Handle' %><br />
        <%= f.text_field :twitterHandle, class: "form-control" %>
    </div>

    <div class="field">
        <%= f.label :siteUrl, 'Site URL' %><br />
        <%= f.text_field :siteUrl, class: "form-control" %>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>

    <% end %>