<div class="container-fluid p-3">
    <div class="row border-bottom p-2">
        <div class="col-sm">
            <div class="row">
                <div class="col-sm">
                    <h1><%= @manager_profile.teamName %></h1>
                </div>
                <div class="col-sm text-right">
                    <% if @manager_profile.user_id == current_user.id %> 
                        <%= button_to "Edit Details", edit_manager_profile_path(@manager_profile), method: :get %>
                    <% end %>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <p>Managed by: <%= @manager_profile.managerFName %> <%= @manager_profile.managerLName %></p>
                    <p>Founded in: <%= @manager_profile.country.name %></p>
                </div>
                <div class="col-sm text-right">
                    <p>Email: <%= @manager_profile.user.email %></p>
                    <p>Website: <%= @manager_profile.siteUrl %></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-sm">
            <div class="card p-1">
                <h6>Description</h6>
                <div class="card p-1 overflow-auto" style="height: 450px;">
                    <%= @manager_profile.description %>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card p-1">
                <h6>Sponsors and Partners</h6>
                <div class="card p-1 overflow-auto" style="height: 450px;">
                    <%= @manager_profile.sponsorsAndPartners %>
                </div>
            </div>
        </div>
    </div>
</div>