<%= form_with(model: sponsor, local: true) do |form| %>
  <% if sponsor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sponsor.errors.count, "error") %> prohibited this sponsor from being saved:</h2>

      <ul>
        <% sponsor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :placings %>
    <%= form.text_field :placings %>
  </div>

  <div class="field">
    <%= form.label :participants %>
    <%= form.text_field :participants %>
  </div>

  <div class="field">
    <%= form.label :tournaments %>
    <%= form.text_field :tournaments %>
  </div>

  <div class="field">
    <%= form.label :streamHours %>
    <%= form.text_field :streamHours %>
  </div>

  <div class="field">
    <%= form.label :minutesOfVideo %>
    <%= form.number_field :minutesOfVideo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
