<p id="notice"><%= notice %></p>

<h1>Sponsors</h1>

<table>
  <thead>
    <tr>
      <th>Placings</th>
      <th>Participants</th>
      <th>Tournaments</th>
      <th>Streamhours</th>
      <th>Minutesofvideo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sponsors.each do |sponsor| %>
      <tr>
        <td><%= sponsor.placings %></td>
        <td><%= sponsor.participants %></td>
        <td><%= sponsor.tournaments %></td>
        <td><%= sponsor.streamHours %></td>
        <td><%= sponsor.minutesOfVideo %></td>
        <td><%= link_to 'Show', sponsor %></td>
        <td><%= link_to 'Edit', edit_sponsor_path(sponsor) %></td>
        <td><%= link_to 'Destroy', sponsor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sponsor', new_sponsor_path %>
